
.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}

.input-settings-container {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.settings-main {
  overflow: auto;
  flex: 1;
  padding-bottom: 2rem;
}

.settings-footer {


}

.setting-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: var(--bg-tertiary);
  border: 0.0625rem solid var(--border-subtle);
  margin-bottom: 0.5rem;
}

.setting-row:hover {
  background-color: var(--bg-hover);
  border-color: var(--border-default);
}

