
.settings-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 2rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-shrink: 0; /* Prevents shrinking */
  align-items: flex-start;
}

.router-box {
  flex: 1;
  min-width: 0;
}

