/* Parent container -  wraps both MenuButtons and GBox */
.main-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.router-box {
  height: 85vh;
  width: 100%;
  margin-left: 1rem;
}


